<img src="../assets/images/mersinden_logo.png" alt="Mersinden Logo" class="site-logo">
<h1>Mersinden Kadin Kooperatifleri Ürün Stok Takip Sistemi</h1>

<div id="results">

</div>

<div id="merchant-data">
</div>

<div id="new-log">
    <input type="text" id="product-text-js" placeholder="Urun">
    <input type="text" id="product-description-text-js" placeholder="Urun Aciklamasi">
    <input type="number" id="price-text-js" placeholder="Fiyat">
    <input type="number" id="stock-text-js" placeholder="Stok">
    <button id="log-button-js">Ekle</button>
</div>

<br><br><br><br>

<button id="logout-button">Cikis Yap</button>